



<div class=" flex flex-col min-w-0 bg-card  ">

  <nav class=" h-28
border-gray-200 px-2 sm:px-4 py-2.5 mb-10  dark:bg-gray-800" style="background: linear-gradient(88.96deg, #00CCCC 4.35%, #0098C8 96.43%);  border-radius: 0 0 50% 50%/0 0 35% 35%;">
      <div class="container flex flex-wrap justify-center items-center mx-auto">


      <div class="hidden justify-center items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-3">

      <ul class="flex flex-col items-center pt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium ">
      <li>
      <a href="#" class="py-2 pr-4 pl-3 text-white font-bold	 lg:hover:text-slate-300   bg-blue-700 rounded md:bg-transparent  md:p-0 " aria-current="page">Overview</a>
      </li>
      <li>
      <a href="#" class=" py-2 pr-4 pl-3 text-slate-300  font-bold	border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Mobile</a>
      </li>
      <li>
      <a href="#" class=" py-2 pr-4 pl-3 text-slate-300 font-bold	 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Internet</a>
      </li>
      <li>
        <a href="#" class=" py-2 pr-4 pl-3 text-slate-300 font-bold	  border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">TV</a>
        </li>
        <li>
          <a href="#" class=" py-2 pr-4 pl-3 text-slate-300 font-bold	  border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Support</a>
          </li>
      </ul>
      </div>
      </div>
      </nav>


  <div class="grid grid-cols-3 gap-16 sm:grid-cols-2 md:grid-cols-3 p-8 ">

<div class=""  *ngFor="let animal of animals">

<mat-card class="flex flex-col max-w-40 w-45 rounded-2xl	 filter-article">

<img mat-card-image src="{{animal.avatar}}" alt="animal" class="max-w-sm w-full shadow-lg"
>
<div class="m-2">
  <div class="text-2xl font-sans font-normal leading-tight ">{{animal.name}}</div>
  <div class="mt-4 text-base">{{animal.type}}</div>
</div>

</mat-card>
</div>
  </div>
<div class="flex justify-center">
  <button class="bg-cyan-400 w-64 pt-2.5 pr-8 pb-2 mb-10 mt-10 text-white font-sans font-bold py-2 px-4  rounded-full" (click)="exit()"> update </button>

</div>
</div>
<footer class="text-center bg-gray-900 text-white">
  <div class="container px-6 pt-6">




    <div class="grid lg:grid-cols-4 md:grid-cols-2">
      <div class="mb-6">
        <div class="font-sans font-extrabold	 mb-2.5">Quick Links</div>

        <ul class="list-none mb-0">
          <li>
            <a href="#!" class="text-slate-300 text-base	">Homepage</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300 text-base	">Roaming Information</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300 text-base	">Service Fees</a>
          </li>
          <li>
              <a href="#!" class="text-slate-300 text-base	">Report Fraud</a>
            </li>
            <li>
              <a href="#!" class="text-slate-300 text-base	">Device Repair</a>
            </li>

        </ul>
      </div>

      <div class="mb-6">
        <div class="font-sans font-extrabold mb-2.5">Offers</div>

        <ul class="list-none mb-0">
          <li>
            <a href="#!" class="text-slate-300">Mobile Plans</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">Prepaid SIM</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">Internet at Home</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">5G Speed Option</a>
          </li>
          <li>
              <a href="#!" class="text-slate-300">Saving Options</a>
            </li>
            <li>
              <a href="#!" class="text-slate-300">WI-FI Calling</a>
            </li>
        </ul>
      </div>

      <div class="mb-6">
        <div class="font-sans font-extrabold mb-2.5">My yallo </div>

        <ul class="list-none mb-0">
          <li>
            <a href="#!" class="text-slate-300">Account Login</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300"> My Products</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300"> Usage History</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">Past Invoices</a>
          </li>
          <li>
              <a href="#!" class="text-slate-300">Settings</a>
            </li>
        </ul>
      </div>

      <div class="mb-6">
        <div class="font-sans font-extrabold mb-2.5">About Yallo</div>

        <ul class="list-none mb-0">
          <li>
            <a href="#!" class="text-slate-300">Company</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">Media Center</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">Review & Customers</a>
          </li>
          <li>
            <a href="#!" class="text-slate-300">Reseller Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-4">
    <a class="text-cyan-400 font-bold " href="">ya</a>
  </div>
</footer>
